[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
scrapyd = "*"
scrapyd-client = "*"
django-cors-headers = "*"

[dev-packages]
pygments = "*"
httpie = "*"

[requires]
python_version = "3.7"
