[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
scrapyd = "*"
scrapyd-client = "*"
twisted = {path = "./Twisted-18.7.0-cp37-cp37m-win_amd64.whl"}

[dev-packages]
pygments = "*"
httpie = "*"

[requires]
python_version = "3.7"
